<!DOCTYPE html>
<html>
  <head>
    <title>Fusions</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta http-equiv="refresh" content="300; URL=http://localhost:3000/fusions/">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
